body {
	background-color: #EEEEEE;
	font-family: arial, helvitica, san-serif;
	}
	
a {
	text-decoration:underline;
	color: blue;
	}
	
#container {
	background-color: white;
	width: auto;
	margin-left: 0;
	margin-right: 0;
	}

#header {
	background-color: #B40431;
	color: white;
	text-align: center;
	padding: 10px;
	}
	
#content {
	padding 10px;
	}
	
#nav {
	width: 15%; height: 405px;
	float: left;
	background-color: #F2F5A9;
	text-align: center;
	}
	
#nav .selected {
	font-weight: bold;
	}
	
#nav ul {
	list-style-type: none;
	padding: 0;
	}
	
#fault, #level, #config {
	width: 85%; height: 135px;
	float: right;
	text-align: center;
	}

#welldiv {
	width: 85%; height: 405px;
	float: right;
	text-align: center;
}

#welldiv ul {
	list-style-type:none;
	padding:0;
	text-align: right;
	margin: 1em 0;
}
	
#footer {
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: right;
	}
